.daftar-pengajuan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.daftar-pengajuan h2 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.daftar-pengajuan .dropdown {
    margin-bottom: 1rem;
    display: flex;
}
.daftar-pengajuan .dropdown .status-validation {
    margin-left: 21rem;
}
.daftar-pengajuan .data-table {
    width: 90%;
    margin-bottom: 5rem;
}
.data-table table {
    overflow-x: auto;
    width: 99.7%;
}
.data-table .form-group {
    display: flex;
    padding-bottom: 1rem;
    justify-content: flex-end;
}
.data-table .form-group button {
    margin-left: 0.5rem;
}
.data-table .form-group select {
    margin-right: 2rem;
}

/* ---------------------------------------------------------------------------------------------------------- */
/* Detail Submissions */
.detail-submissions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detail-submissions h2 {
    margin-top: 2rem;
}
.detail-submissions .requirements img {
    width: 20.5rem;
    height: 20rem;
    object-fit: contain;
}

.detail-submissions .requirements {
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
    width: 100%;
    flex-wrap: nowrap;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: flex-start;
}
.detail-submissions .requirements .detail {
    width: 20rem;
}
.detail-submissions .requirements .image-area {
    display: flex;
}

.detail-submissions .validation {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 2rem;
    padding-bottom: 2rem;
}
.validation a:nth-child(1){
    margin-right: 10rem;
}

/* ----------------------------------------------------------------------------------------------------------- */

/* Responsive */
@media screen and (max-width: 768px) {
    .daftar-pengajuan {
        padding-top: 0;
    }
    .daftar-pengajuan h2 {
        font-size: 1.5rem;
    }
    .data-table .form-group button {
        margin-left: 0.5rem;
    }
    .data-table .form-group select {
        margin-right: 0rem;
    }
    /* --------------------------------------------------------------------------------------------------------- */
    /* Detail Submissions */
    .detail-submissions .requirements {
        flex-direction: column;
    }
    .detail-submissions .requirements img {
        width: 17rem;
    }
    .detail-submissions .validation {
        margin-bottom: 5rem;
    }
    .validation a:nth-child(1) {
        margin-left: -2rem;
    }
    .detail-submissions .requirements div:nth-child(1) {
        width: 15rem;
    }
    .data-table .form-group select{
        margin-right: .5rem;
    }
}
